altgraph==0.17.4
attrs==25.3.0
cabarchive==0.2.4
certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
customtkinter==5.2.2
cx_Freeze==8.3.0
cx_Logging==3.2.1
darkdetect==0.8.0
docx2pdf==0.1.8
et_xmlfile==2.0.0
filelock==3.18.0
idna==3.10
importlib_metadata==8.7.0
isodate==0.7.2
lief==0.16.5
lxml==5.4.0
numpy==2.0.2
openpyxl==3.1.5
ordered-set==4.1.0
packaging==25.0
pandas==2.2.3
pefile==2023.2.7
pillow==11.2.1
platformdirs==4.3.8
pyinstaller-hooks-contrib==2025.5
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytz==2025.2
pywin32==310
pywin32-ctypes==0.2.3
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
six==1.17.0
striprtf==0.0.29
tomli==2.2.1
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
zeep==4.3.1
zipp==3.23.0
zstandard==0.23.0
